*.conf
*.crt
*.csr
*.db-journal
*.db-shm
*.db-wal
*.json
*.key
*.pickle
*.pid
*.sqlite
*.xml
.cloud
.git
.uuid
OZW_Log.txt
__pycache__
deps
entity_registry.yaml
home-assistant.log
home-assistant_v2.db
ios.conf
ipchange.yaml
kevo
known_devices.yaml
known_devices*.yaml
nest.conf
phue.conf
pyozw.sqlite
secrets
secrets.yaml
tts