*

# *.conf
# *.crt
# *.csr
# *.db-journal
# *.db-shm
# *.db-wal
# *.json
# *.key
# *.pickle
# *.pid
# *.sqlite
# *.xml
# .cloud
# .git
# .uuid
# .storage/
# OZW_Log.txt
# __pycache__
# deps
# entity_registry.yaml
# home-assistant.log
# home-assistant_v2.db
# ios.conf
# ipchange.yaml
# kevo
# known_devices.yaml
# known_devices*.yaml
# nest.conf
# phue.conf
# pyozw.sqlite
# secrets
# secrets.yaml
# tts

!.gitignore
!custom_components/
!packages/
!panels/
!python_scripts/
!www/custom_ui/
!automations.yaml
!configuration.yaml
!customize.yaml
!floorplan.yaml
!groups.yaml
!lock.yaml
!ui-lovelace.yaml
!zwave_device_config.yaml
